html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .header {
        background-color: #f9c1b2;
        min-height: 60px;
        border-radius: 0 0 16px 16px;
        position: relative;
  		z-index: 1;
      }

      .hero {
        flex: 1;
        background-color: #ffffff;
      }

      .hero-home {
      	flex: 1;
        background-color: #ffffff;
        background-image: url(images/cat_tree.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -16px;
  		margin-bottom: -16px;
      }

      .footer {
        background-color: #f9c1b2;
        min-height: 60px;
        border-radius: 16px 16px 0 0;
      }